# Base de datos (Supabase / PostgreSQL)
DATABASE_URL="postgresql://usuario:password@host:5432/gimnasio"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera_un_secreto_random_aqui"
